/* line 7, ../scss/main.scss */
body {
  font-family: verdana, arial, sans-serif;
  color: #000;
  margin: 0;
  font-size: 13px;
  line-height: 19px;
  background-color: #fff;
  padding: 0px;
}

/* line 26, ../scss/main.scss */
body {
  background: url(../img/bg.jpg) center top;
}

/* line 29, ../scss/main.scss */
a {
  color: #000000;
  text-decoration: none;
}

/* line 33, ../scss/main.scss */
.container {
  width: 970px;
}

/* line 37, ../scss/main.scss */
#wrapper {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

/* line 41, ../scss/main.scss */
.highlight {
  color: #ff3300;
}
/* line 44, ../scss/main.scss */
.highlight:hover {
  color: #ff3300;
}

/* line 49, ../scss/main.scss */
.fb-like-box {
  margin-top: 25px;
}

/* line 52, ../scss/main.scss */
.gap {
  height: 20px;
  clear: both;
}

/* line 57, ../scss/main.scss */
span.position {
  color: #939393;
  font-size: 12px;
}

/* line 63, ../scss/main.scss */
.logo-container {
  padding-top: 20px;
  padding-bottom: 5px;
  background: #fff;
}
/* line 68, ../scss/main.scss */
.logo-container .lang-links {
  list-style-type: none;
  margin-top: 5px;
  margin: 0;
  padding: 0;
}
/* line 75, ../scss/main.scss */
.logo-container .lang-links li {
  float: left;
}
/* line 78, ../scss/main.scss */
.logo-container .lang-links li a {
  color: #000;
  font-size: 10px;
  padding: 2px 6px;
  margin-right: 5px;
}
/* line 83, ../scss/main.scss */
.logo-container .lang-links li a:hover {
  text-decoration: underline;
}
/* line 87, ../scss/main.scss */
.logo-container .lang-links li a.active {
  background: #ff3300;
  color: #fff;
}
/* line 91, ../scss/main.scss */
.logo-container .lang-links li a.active:hover {
  text-decoration: none;
}

/* line 100, ../scss/main.scss */
.nav-container {
  background-color: #ff3300;
  padding-top: 63px;
  margin-bottom: 15px;
  height: 88px;
}
/* line 106, ../scss/main.scss */
.nav-container .menu {
  padding: 0;
  margin-left: 10px;
  margin-bottom: 0;
  position: relative;
}
/* line 113, ../scss/main.scss */
.nav-container .menu > li {
  float: left;
  list-style-type: none;
}
/* line 119, ../scss/main.scss */
.nav-container .menu > li > a {
  color: #fff;
  color: #fff;
  height: 25px;
  line-height: 25px;
  padding-right: 10px;
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  border-left: 1px solid #fff;
}
/* line 140, ../scss/main.scss */
.nav-container .menu > li .sub-menu {
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 940px;
  list-style-type: none;
  padding: 0;
  display: none;
}
/* line 149, ../scss/main.scss */
.nav-container .menu > li .sub-menu > li {
  float: left;
}
/* line 152, ../scss/main.scss */
.nav-container .menu > li .sub-menu > li.current-menu-item a {
  font-weight: bold;
}
/* line 156, ../scss/main.scss */
.nav-container .menu > li .sub-menu > li > a {
  color: #ff3300;
  padding: 0 15px;
}
/* line 163, ../scss/main.scss */
.nav-container .menu > li .sub-menu.active {
  display: block;
}
/* line 168, ../scss/main.scss */
.nav-container .menu > li.current_page_item a, .nav-container .menu > li.current-menu-parent > a, .nav-container .menu > li.current-menu-item > a {
  background-color: #fff;
  color: #ff3300;
  font-weight: bold;
  text-decoration: none;
  border-left: 0;
}
/* line 176, ../scss/main.scss */
.nav-container .menu > li.current_page_item a + a, .nav-container .menu > li.current-menu-parent > a + a, .nav-container .menu > li.current-menu-item > a + a {
  border-left: 0;
}
/* line 181, ../scss/main.scss */
.nav-container .menu > li:first-child a {
  border: 0;
}

/* line 188, ../scss/main.scss */
#content {
  margin-top: 20px;
  background: #fff;
}

/* line 193, ../scss/main.scss */
.alignright {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* line 199, ../scss/main.scss */
.alignleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* line 205, ../scss/main.scss */
.home-page-article {
  margin-top: 40px;
}

/* line 1, ../scss/_inputs.scss */
input[type], textarea {
  height: 30px;
  font-size: 11px;
}

/* line 6, ../scss/_inputs.scss */
.searchSubmit {
  background: #ff3300;
  color: #fff;
  border: 0;
}

/* line 3, ../scss/_slider.scss */
#main-slider .slider-item {
  position: relative;
}
/* line 5, ../scss/_slider.scss */
#main-slider .slider-item img {
  width: 100%;
  height: auto;
}
/* line 11, ../scss/_slider.scss */
#main-slider .slider-item .inner-post {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  bottom: 0px;
  padding: 10px;
}
/* line 17, ../scss/_slider.scss */
#main-slider .slider-item .inner-post h3 {
  margin: 0;
  margin-bottom: 12px;
}
/* line 20, ../scss/_slider.scss */
#main-slider .slider-item .inner-post h3 a {
  color: #4c4c4c;
}
/* line 29, ../scss/_slider.scss */
#main-slider .slider-item .inner-post a {
  color: #ff3300;
}
/* line 35, ../scss/_slider.scss */
#main-slider .owl-pagination {
  position: absolute;
  width: 100%;
  top: 12px;
  right: 12px;
  text-align: right;
}

/* line 226, ../scss/main.scss */
.widget h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #ff3300;
  font-weight: bold;
}
/* line 233, ../scss/main.scss */
.widget h3:before {
  content: ' ';
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: #ff3300;
  margin-right: 10px;
  margin-left: 5px;
}
/* line 245, ../scss/main.scss */
.widget ul {
  font-size: 11px;
  list-style-type: none;
  padding-left: 27px;
}
/* line 250, ../scss/main.scss */
.widget ul li {
  margin-bottom: 10px;
}
/* line 254, ../scss/main.scss */
.widget ul span {
  display: block;
  color: #ff3300;
  font-size: 10px;
}
/* line 261, ../scss/main.scss */
.widget .menu {
  background-color: #ff3300;
  padding: 15px;
}
/* line 265, ../scss/main.scss */
.widget .menu > li > a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 272, ../scss/main.scss */
.widget .menu .sub-menu {
  list-style-type: circle;
  color: #fff;
}
/* line 276, ../scss/main.scss */
.widget .menu .sub-menu a {
  font-size: 11px;
}
/* line 283, ../scss/main.scss */
.widget .menu#menu-fields-of-work > li {
  margin-bottom: 10px;
}
/* line 286, ../scss/main.scss */
.widget .menu#menu-fields-of-work > li:last-child {
  margin-bottom: 0;
}
/* line 290, ../scss/main.scss */
.widget .menu#menu-fields-of-work > li a {
  color: #fff;
}

/* line 300, ../scss/main.scss */
.lists {
  padding: 0;
}
/* line 303, ../scss/main.scss */
.lists li {
  list-style-type: none;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 310, ../scss/main.scss */
.lists li h6 {
  text-transform: uppercase;
  color: #ff3300;
  font-size: 14px;
  margin: 0 0 10px 0;
  font-weight: bold;
}
/* line 318, ../scss/main.scss */
.lists li a {
  color: #ff3300;
}
/* line 322, ../scss/main.scss */
.lists li .img-post {
  width: 220px;
  height: 140px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 329, ../scss/main.scss */
.lists li .img-post img {
  width: 100%;
  height: 100%;
}
/* line 335, ../scss/main.scss */
.lists li p {
  overflow: hidden;
}
/* line 340, ../scss/main.scss */
.lists hr {
  clear: both;
  display: none;
}
/* line 350, ../scss/main.scss */
.lists.publications-list li .img-post {
  width: 160px;
  height: auto;
}
/* line 354, ../scss/main.scss */
.lists.publications-list li .img-post img {
  height: auto;
}
/* line 359, ../scss/main.scss */
.lists.publications-list li .date {
  display: block;
  font-weight: bold;
  font-size: 10px;
}
/* line 366, ../scss/main.scss */
.lists.publications-list li .type {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 373, ../scss/main.scss */
.lists.publications-list li .location {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 381, ../scss/main.scss */
.lists.publications-list li .organization {
  display: block;
  font-size: 10px;
}
/* line 385, ../scss/main.scss */
.lists.publications-list li .organization .author {
  color: #ff3300;
  font-size: 11px;
}
/* line 392, ../scss/main.scss */
.lists.publications-list li h5 {
  margin: 0;
}
/* line 396, ../scss/main.scss */
.lists.publications-list li .link, .lists.publications-list li .read-more {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 406, ../scss/main.scss */
.publication .img-post img {
  width: 100%;
  height: auto;
  border: 1px solid #e8e8e8;
}

/* line 416, ../scss/main.scss */
.publication-container a {
  color: #ff3300;
}
/* line 420, ../scss/main.scss */
.publication-container .year-link {
  text-align: right;
  margin-top: 30px;
  margin-bottom: -10px;
}
/* line 425, ../scss/main.scss */
.publication-container .year-link h4 {
  font-weight: bold;
  font-size: 12px;
}
/* line 430, ../scss/main.scss */
.publication-container .year-link h4 i {
  margin-left: 10px;
}
/* line 437, ../scss/main.scss */
.publication-container .year-name {
  font-size: 24px;
  font-weight: bold;
}

/* line 447, ../scss/main.scss */
.article h4 {
  color: #ff3300;
  font-size: 22px;
  font-weight: bold;
}
/* line 453, ../scss/main.scss */
.article > img {
  width: 100%;
  height: auto;
}
/* line 463, ../scss/main.scss */
.article.single-special .single-image img {
  width: 100%;
  height: auto;
}
/* line 468, ../scss/main.scss */
.article.single-special .single-image .date {
  display: block;
  font-weight: bold;
  font-size: 10px;
}
/* line 475, ../scss/main.scss */
.article.single-special .single-image .type {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 482, ../scss/main.scss */
.article.single-special .single-image .organization {
  display: block;
  font-size: 10px;
}
/* line 486, ../scss/main.scss */
.article.single-special .single-image .organization .author {
  color: #ff3300;
  font-size: 11px;
}
/* line 493, ../scss/main.scss */
.article.single-special .single-image h5 {
  margin: 0;
}
/* line 497, ../scss/main.scss */
.article.single-special .single-image .link, .article.single-special .single-image .read-more {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff3300;
}

/* line 510, ../scss/main.scss */
.lists.events-list li .img-post {
  width: 200px;
  height: 150px;
}
/* line 514, ../scss/main.scss */
.lists.events-list li .img-post img {
  margin-bottom: 20px;
}

/* line 519, ../scss/main.scss */
.lists li {
  position: relative;
}
/* line 522, ../scss/main.scss */
.lists li .border {
  background-color: #ff3300;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
}
/* line 532, ../scss/main.scss */
.lists li .fow-sep {
  width: 55px;
  float: left;
  display: block;
}

/* line 545, ../scss/main.scss */
.staff-container .single-staff > span {
  color: #666;
}
/* line 549, ../scss/main.scss */
.staff-container .single-staff .img-staff {
  width: 180px;
  height: 260px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 556, ../scss/main.scss */
.staff-container .single-staff .img-staff img {
  width: 100%;
  height: auto;
}
/* line 563, ../scss/main.scss */
.staff-container .single-staff .bio {
  margin-top: 10px;
  font-size: 14px;
}
/* line 568, ../scss/main.scss */
.staff-container .single-staff .employee-title {
  color: #ff3300;
}

/* line 575, ../scss/main.scss */
footer#main-footer p.copyright .social-links {
  margin-right: 15px;
}

/* line 6, ../scss/_publications.scss */
.publication_fade .publication_single img {
  width: 100%;
  height: auto;
  border: 1px solid #e8e8e8;
}
/* line 15, ../scss/_publications.scss */
.publication_fade .owl-pagination {
  position: absolute;
  width: 100%;
  bottom: 45px;
}

/* line 1, ../scss/_footer.scss */
footer#main-footer {
  background-color: #ff3300;
  padding: 20px;
  padding-bottom: 0;
  margin-top: 40px;
}
/* line 7, ../scss/_footer.scss */
footer#main-footer p, footer#main-footer a {
  color: #fff;
}
/* line 11, ../scss/_footer.scss */
footer#main-footer .widget h3 {
  color: #fff;
}
/* line 14, ../scss/_footer.scss */
footer#main-footer .widget h3:before {
  background-color: #fff;
}
/* line 19, ../scss/_footer.scss */
footer#main-footer p.copyright {
  margin-top: 5px;
  padding-top: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}
/* line 24, ../scss/_footer.scss */
footer#main-footer p.copyright .social-links {
  float: right;
  margin-top: -96px;
}
