@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body,h1,h2,h3,h4,h5,h6,p{
	font-family: 'Droid Arabic Kufi', serif;
}

p{
	line-height: 26px;
}
.nav-container .menu{
	margin-right: 10px;
}

.nav-container .menu > li{
	float: right;
}

.nav-container .menu > li > a{
	border-left: 0;
	border-right: 1px solid #fff;
}

.nav-container .menu > li .sub-menu{
	right: 0;
	left: auto;
}

.nav-container .menu > li .sub-menu > li{
	float: right;
}

.lists li .img-post{
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

.widget .menu .sub-menu a{
	color: #fff;
}

.lists li .fow-sep{
	float: right;
}

.lists li .border{
	right: 0;
}

footer#main-footer p.copyright .social-links{

	float: left;
}

